doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Curriculum Vitae Express
    link(href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN", crossorigin="anonymous")
    link(href="/stylesheets/style.css", rel="stylesheet")

  body
    .container
      h3
        b Curriculum Vitae
      .line
      .row.justify-content-center
        .line
            .boutme.border1.rounded-0
              h2.Center About Me
              .inabout.border2.rounded-0.textboutme Saya adalah orang yang berkomitmen dan bersemangat Mencapai tujuan.
                | Saya memiliki kemampuan berkomunkasi yang baik dan selalu antusias untuk
                | belajar hal baru, memiliki kemampuan untuk bekerja secara mandiri atau dalam kelompok
                
            .img.borderimg.rounded-0
              img(src="/images/387532517_800877905168888_5265205733427030642_n.jpg")
          .row
            .col-md-6
              p
                strong Nama: 
                | Muhammad Aldo Nugraha
              p
                strong Email: 
                | aldonugraha2003@mhs.mdp.ac.id
            .col-md-6
              p
                strong Phone: 
                | 0853-9688-6980
              p
                strong LinkedIn: 
                a(href="https://www.linkedin.com/in/aldo-nugraha/", target="_blank") https://www.linkedin.com/in/aldo-nugraha/
              p
                strong GitHub:
                a(href="https://github.com/syntax001", target="_blank") https://github.com/syntax001

            .line 
              br
              h2 Education
            .row
              .col-md-6
                h4 SMK 5 Palembang
                p.degree Jurusan Multi Media | 2019 - 2021
              .col-md-6
                h4 Universitas Multi Data Palembang
                p.degree Program Studi Sistem Informasi |  2021 - Sekarang

            .line 
              br
              h2 Skills
            .row
              .col-md-6
                li Pemahaman Terhadap Komputer
                li Fotografer
                li Python
                li Komunikasi
                li Kerja Sama Tim
              
              .col-md-4
                .bx
                  .ftr 65%
                  .ftl.color.a65.p-2
                  
                .bx
                  .ftr 70%
                  .ftl.color.a70.p-2
                
                .bx
                  .ftr 30%
                  .ftl.color.a30.p-2
                
                .bx
                  .ftr 75%
                  .ftl.color.a75.p-2
                
                .bx
                  .ftr 75%
                  .ftl.color.a75.p-2

             
              br
              h2 Experience
              br
              .line
              .row
                li Praktek Kerja Lapangan Di Printing Advertising
                li Anggota Osis Di Bidang Media